<div id="page-content">
  <div class="container" id="home-container">
    <div class="jumbotron text-center ">
      <h1 class="display-4">Hello, world!</h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <a class="btn btn-success btn-lg" href="#" role="button">SIGN UP!</a>
    </div>
  </div>
</div>

<footer class="sticky-bottom py-4 bg-dark text-white">
  <div class="container text-center mb-0">
    <small>Copyright &copy; Mohamed Hassan Noor</small>
  </div>
</footer>